body{
    background-color:rgb(21, 65, 116);
}
#outer{
    background-color: #0f1111;
    border: 9px solid;
    border-color: white;
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
}
.link{
    margin: 150px;
 
}
#inner1{
    font-size: 25px;
    color:rgb(201, 166, 10);
}
button{
    background-color: #f08804;
}
#inner5{
    margin-right: 0px;
}
#inner6{
    margin: 0px;
}